<% @title = t('search.results', :query => @q) %>

<div id="groups" class="block">
  <ul>
    <% if @senators.any? %><li><a href="#senators"><%= t('search.section.senators') %></a></li><% end %>
    <% if @mps.any? %><li><a href="#mps"><%= t('search.section.mps') %></a></li><% end %>
    <% if @votes.any? %><li><a href="#votes"><%= t('search.section.votes') %></a></li><% end %>
  </ul>
</div>

<% if (@senators.length + @mps.length + @votes.length) == 0 %>
  <%= t('search.no_results', :query => @q) %>.
<% end %>

<% if @senators.any? %>
  <a name="#senators"></a>
  <h3><%= t('search.section.senators') %></h3>
  <ul class="activity_feed">
    <%= render :partial => 'shared/senator', :collection => @senators %>
  </ul>
<% end %>

<% if @mps.any? %>
  <a name="#mps"></a>
  <h3><%= t('search.section.mps') %></h3>
  <ul class="activity_feed">
    <%= render :partial => 'shared/member', :collection => @mps %>
  </ul>
<% end %>

<% if @votes.any? %>
  <a name="#votes"></a>
  <h3><%= t('search.section.votes') %></h3>
  <div id="votes" class="block">
    <ul class="activity_feed">
      <%= render :partial => 'shared/vote', :collection => @votes %>
    </ul>
  </div>
<% end %>