<li>
  <% if member.image? %>
    <%= link_to image_tag(member.image.url(:small), :alt => "photo of #{member.name}"), "", :title => "", :class => "photo" %>
  <% else %>
    <%= link_to image_tag("placeholder_photo_small.gif", :alt => member.name), member_path(member), :class => 'photo' %>
  <% end %>
  <div class="description">
    <span class="name"><%= link_to member.name, member_path(member), :title => "" %></span>
    <span class="action">
    </span>
    <small>
      <span class="caucus"><%= member.party %></span>,
      <span class="constituency"><%= member.constituency_name %></span>
    </small>
  </div>
</li>