<li>
  <div class="votes">
    <a href="<%= url_for :action => :show, :id => vote.id %>">
    	<%= vote.number %>
	</a>
  </div>
  <% unless vote.bill_number.nil? %>
    <div class="bill">
      <label>Bill</label>
	  <%= link_to vote.bill_number, :action => :show, :id => vote.id %>
    </div>
  <% end %>
  <div class="description">
    <%= vote.title %>
	(<%= link_to t('votes.index.details_link'), :action => :show, :id => vote.id %>)
    <small><%= t('votes.index.voted_on', :date => l(vote.vote_date, :format => :long)) %></small>
  </div>
</li>