<strong><%= t("members.activity_stream.news_article.text") %></strong> <%= link_to entry.object.title, entry.object.url, :target => '_blank' %>
<div class="text"><p><%= entry.object.summary %> (<%= link_to 'more', entry.object.url, :target => '_blank' %>)</p></div>
<p class="source"><em><%= t('members.activity_stream.time_ago', :time => time_ago_in_words(entry.date)) %></em> &ndash; <%= entry.object.source %></p>