<% @content_layout = "has_sidebar_left" %>
<% @title = @senator.normalized_name %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <%= link_to image_tag("placeholder_photo_medium.gif", :alt => ""), "", :title => "", :class => "photo" %>
    <p>Do you own a photo of this senator?<br/><%= link_to "Let us use it!", :title => "" %></p>
  </div>
  
  <div id="facts" class="block">
    <h3>The Facts</h3>
    <ul>
      <li><%= @senator.province %></li>
      <li><%= @senator.scrubbed_affiliation %></li>
    </ul>
  </div>

  <%= render :partial => 'shared/links' %>

<% end %>

<div id="google_news" class="block">
  <h3>News Search</h3>
  <iframe frameborder="0" width="728" height="90" marginwidth="0" marginheight="0"
         src="http://www.google.com/uds/modules/elements/newsshow/iframe.html?q=<%= @senator.news_search_name %>&ned=ca&rsz=large&hl=en&format=728x90">
  </iframe>
</div>

<%= render :partial => 'shared/twitter', :locals => {:twitter => @senator} if @senator.twitter? %>