<% @content_layout = "has_sidebar_left" %>
<% @title = @senator.normalized_name %>

<% content_for :subtitle do %>
<%= t('senators.show.subtitle', :party_name => @senator.party.name, :province_name => @senator.province.name) %>
<% end %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <% if @senator.image? %>
      <%= link_to image_tag(@senator.image.url, :alt => "photo of #{@senator.name}"), "", :title => "", :class => "photo" %>
    <% else %>
      <%= link_to image_tag("placeholder_photo_medium.gif", :alt => ""), "", :title => "", :class => "photo" %>
	  <p><%= t('senators.photo.prompt') %><br/><%= link_to t('senators.photo.prompt_link'), "mailto:info@apathyisboring.com" %></p>
    <% end %>
  </div>
  
  <div id="facts" class="block">
    <h3><%= t('senators.section.facts') %></h3>
    <ul>
	  <% if @senator.nomination_date %><li><%= t('senators.show.nominated') %> <%= l(@senator.nomination_date, :format => :long) %></li><% end %>
	  <% if @senator.retirement_date %><li><%= t('senators.show.retires') %> <%= l(@senator.retirement_date, :format => :long) %></li><% end %>
    </ul>
  </div>
  
  <% if not @senator.links.keys.empty? %>
	<div id="links" class="block">
	  <h3><%= t('senators.section.links') %></h3>
      <ul>
        <% @senator.links.each do |name, link| %>
          <li><%= link_to(name, link) %></li>
        <% end %>
      </ul>
	</div>
  <% end %>

  <%= render :partial => 'shared/links' %>

<% end %>

<p><%= t('senators.show.intro', :link => url_for(:controller => :members)) %></p>

<div id="activity_stream" class="block">
	<h3><%= t('senators.activity_stream.title') %></h3>
	<p class="more rss"><%= link_to t('senators.activity_stream.rss_link'), :controller => :senators, :action => :activity, :id => @senator.id %></p>
	<ul>
		<% for entry in @activity_stream.entries %>
			<li class="entry <%= entry.object.class.name.underscore.downcase %>"><%= render :partial => "shared/entry/#{entry.object.class.name.underscore.downcase}", :locals => {:entry => entry} %></li>
		<% end %>
	</ul>
</div>