<% @content_layout = "has_sidebar_left" %>
<% @title = @senator.normalized_name %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <% if @senator.image? %>
      <%= link_to image_tag(@senator.image.url, :alt => "photo of #{@senator.name}"), "", :title => "", :class => "photo" %>
    <% else %>
      <%= link_to image_tag("placeholder_photo_medium.gif", :alt => ""), "", :title => "", :class => "photo" %>
      <p>Do you own a photo of this senator?<br/><%= link_to "Let us use it!", "mailto:info@apathyisboring.com" %></p>
    <% end %>
  </div>
  
  <div id="facts" class="block">
    <h3><%= t('section.facts') %></h3>
    <ul>
      <% if @senator.province %><li><%= @senator.province.name %></li><% end %>
      <% if @senator.party %><li><%= @senator.party.name %></li><% end %>
	  <% if @senator.nomination_date %><li><%= t('senators.show.nominated') %> <%= l(@senator.nomination_date) %></li><% end %>
	  <% if @senator.retirement_date %><li><%= t('senators.show.retires') %> <%= l(@senator.retirement_date) %></li><% end %>
    </ul>
  </div>
  
  <div id="links" class="block">
    <h3><%= t('section.links') %></h3>
    <% if @senator.links.keys.empty? %>
      None found
    <% else %>
      <ul>
        <% @senator.links.each do |name, link| %>
          <li><%= link_to(name, link) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= render :partial => 'shared/links' %>

<% end %>

<p><%= t('senators.show.intro', :link => url_for(:controller => :members)) %></p>

<div id="google_news" class="block">
  <h3><%= t('section.news') %></h3>
  <iframe frameborder="0" width="728" height="90" marginwidth="0" marginheight="0"
         src="http://www.google.com/uds/modules/elements/newsshow/iframe.html?q=<%= @senator.news_search_name %>&ned=ca&rsz=large&hl=en&format=728x90">
  </iframe>
</div>

<%= render :partial => 'shared/twitter', :locals => {:twitter => @senator} if @senator.twitter? %>