<% @title = @committee.name %>

<% if @committee.acronym %>
<p><%= t('committees.show.description', :acronym => @committee.acronym) %></p>
<% end %>

<% if not @committee.subcommittees.empty? %>
<h3><%= t('committees.show.subcommittees') %></h3>
<ul>
	<% for subcommittee in @committee.subcommittees %>
	<li><%= link_to subcommittee.name, committee_path(subcommittee) %></li>
	<% end %>
</ul>
<% end %>

<div id="groups" class="block">
  <ul>
    <% @roles.each do |role| %>
      <li><a href="#<%= role.name.underscore %>"><%= role.name %></a></li>
    <% end %>
  </ul>
</div>

<% @roles.each do |role| %>
	<a name="<%= role.name.underscore %>"></a>
	<h3><%= role.name %></h3>
	<ul class="profiles_list">
		<%= render :partial => 'shared/committee_member', :collection => @members_by_role[role.id] %>
	</ul>
<% end %>

