<p>Le Parlement n’est pas très facile à comprendre. Les députés sont constamment à parier leur vote ou à passer des motions dilatoires, et la plupart d'entre nous n'avons aucune idée de ce que cela signifie. En conséquence, il est souvent plus facile d'ignorer le Parlement que de le comprendre.</p> 

<p>C'est pourquoi la Fabrique Citoyenne est là - c'est une ressource en ligne pour la jeunesse canadienne créée par <%= link_to "L’apathie c’est plate", "http://www.apathyisboring.com/fr/home" %>. Notre objectif est de rendre l'information accessible et intéressante à propos du Parlement afin de te permettre de comprendre le fonctionnement de ton gouvernement. C'est un processus en deux étapes. D'abord, la Fabrique Citoyenne réunit toutes les informations nécessaires à propos du Parlement. Ensuite, on simplifie ces informations de sorte qu'il soit plus facile de comprendre le fonctionnement de ton gouvernement.</p>

<%= image_tag "canada.gif", :alt => "Government of Canada logo" %><br/><br/>

<p>On est reconnaissants de l'appui financier du Gouvernement du Canada par l'entremise du <%= link_to "ministère du patrimoine canadien", "http://www.apathyisboring.com/fr/about_us/sponsors" %>. Les opinions exprimées dans ce site ne reflètent pas nécessairement celles du ministère du Patrimoine canadien.</p> 

<h3>Comment ça marche?</h3> 

<p>Les informations récoltées par la Fabrique Citoyenne sont compilées à partir d'un certain nombre de sources différentes, allant de la Bibliothèque du Parlement à Twitter. Ce travail est effectué par une équipe d'elfes magiques, situé dans un atelier secret quelque part au nord de l'île de Baffin.</p> 

<p>Ok, bon. La dernière phrase est tout à fait fausse. La magie derrière la Fabrique Citoyenne provient d’un Ottavien et trois Montréalais: <%= link_to 'Shawn Simister', 'http://shawn.simister.ca' %>, <%= link_to "Daniel Haran", "http://danielharan.com/" %>, <%= link_to "Francis Wu", "http://www.thisisfranciswu.com/" %>, et <%= link_to "Michael Lenczner", "http://www.michaellenczner.ca/" %>. Le <%= link_to "code source", "http://github.com/danielharan/our-parliament" %> est disponible à tous et à toutes.</p> 

<p>Lorsqu’on a commencé à construire ce site Internet, on a dû le bâtir à partir de zéro. Depuis que la Fabrique Citoyenne est entrée en service en mars 2010, d'autres projets comme <%= link_to "OpenParliament", "http://openparilament.ca" %> et <%= link_to "Datadotgc.ca", "http://datadotgc.ca/" %> ont également été lancés. On est heureux de voir grandir cette communauté en ligne de citoyens actifs. « L'apathie c'est plate » est déterminé à faire le maximum pour que l’information utile soit rendue accessible pour les jeunes Canadiens par le biais de la Fabrique Citoyenne.</p> 

<h3>Guide de l'enseignant</h3>

<p>Vous voulez enseigner à vos élèves le processus législatif sans les perdre dans la paperasse et le jargon? « L'apathie c'est plate » a élaboré une série de <%= link_to "plans de cours et des ressources", "http://www.apathyisboring.com/en/the_facts/citizen_factory" %> pour vous aider à présenter la Fabrique Citoyenne dans vos classes.</p>