<p>Parliament is confusing. MPs are constantly pairing their votes or passing dilatory motions, yet most of us have no idea what that means. As a result, it's often easier to ignore Parliament than to understand it.</p>

<p>That's why Citizen Factory is here - it's an online resource for Canadian youth created by <%= link_to "Apathy is Boring", "http://www.apathyisboring.com/en" %>. Our goal is to help you make sense of Parliament. It's a two-step process: first Citizen Factory aggregates all the Parliamentary information that we can find. Next, we distill that information, so that it's easier to understand how your government works.</p>

<%= image_tag "canada.gif", :alt => "Government of Canada logo" %><br/><br/>

<p>We acknowledge the financial support of the Government of Canada through the <%= link_to "Department of Canadian Heritage", "http://www.apathyisboring.com/en/about_us/sponsors" %>. The opinions expressed in this website do not necessarily reflect those of the Department of Canadian Heritage.</p>

<h3>How does it work?</h3>

<p>The information in Citizen Factory is compiled from a number of different sources, ranging from the Library of Parliament to Twitter. This hard work is done by a team of magical elves, located in a secret workshop somewhere north of Baffin Island.</p>

<p>Alright, so we made up that last part. The magic behind Citizen Factory was provided by an Ottawan and three Montrealers: <%= link_to 'Shawn Simister', 'http://shawn.simister.ca' %>, <%= link_to "Daniel Haran", "http://danielharan.com/" %>, <%= link_to "Francis Wu", "http://www.thisisfranciswu.com/" %>, and <%= link_to "Michael Lenczner", "http://www.michaellenczner.ca/" %>. The <%= link_to "source code is freely available", "http://github.com/danielharan/our-parliament" %>.</p>

<p>When we first started building this website, we had to do it from scratch. Since Citizen Factory went live in March of 2010, other projects like <%= link_to "OpenParliament", "http://openparliament.ca/" %> and <%= link_to "Datadotgc.ca", "http://datadotgc.ca/" %> have also launched. We're happy to see this growing online community of active citizens, and Apathy is Boring is committed to our goal of making all this information meaningful to young Canadians through Citizen Factory.</p>

<h3>Teacher's Guide</h3>

<p>Want to teach your students about the legislative process without losing them in paperwork and jargon? Apathy is Boring has developed a set of lesson plans and resources [http://www.apathyisboring.com/en/the_facts/citizen_factory] to help you bring Citizen Factory into the classroom.</p>