<% @title = t('votes.show.vote_title', :vote_number => @vote.number, :vote_date => l(@vote.vote_date, :format => :long)) %>
<% @content_layout = "has_sidebar_right" %>

<p><%= link_to @vote.title, "http://www2.parl.gc.ca/HouseChamberBusiness/Chambervotedetail.aspx?Language=#{I18n.locale == 'fr' ? 'F' : 'E'}&Mode=1&Parl=#{@vote.parliament}&Ses=#{@vote.session}&FltrParl=#{@vote.parliament}&FltrSes=#{@vote.session}&vote=#{@vote.number}", :target => '_blank' %></p>

<div id="vote_summary">
	<ul class="votes">
		<li class="yea_large"><span class="votes"><%= @vote.in_favour %></span><span class="description"><%= t("votes.show.yea") %></span></li>
		<li class="nay_large"><span class="votes"><%= @vote.opposed %></span><span class="description"><%= t("votes.show.nay") %></span></li>
		<li class="paired_large"><span class="votes"><%= @vote.paired + @vote.abstained %></span><span class="description"><%= t("votes.show.paired_or_no_vote") %></span></li>
	</ul>
</div>

<div id="votes_by_party">
	<% for party in @parties %>
	<div class="party_summary">
		<% if party.image %>
			<%= image_tag "parties/#{party.image}.#{I18n.locale}.png", :style => "float:left" %>
		<% else %>
			<div style="width: 200px; height: 110px; float: left;">
				<h3 style="text-align:right;margin:30px 20px 0 0;"><%= party.name %></h3>
			</div>
		<% end %>
		<ul class="votes">
			<li class="yea_small"><span class="votes"><%= @votes_by_party[party.id]['yea'] %></span><span class="description"><%= t("votes.show.yea") %></span></li>
			<li class="nay_small"><span class="votes"><%= @votes_by_party[party.id]['nay'] %></span><span class="description"><%= t("votes.show.nay") %></span></li>
			<li class="paired_small"><span class="votes"><%= @votes_by_party[party.id]['paired'] %></span><span class="description"><%= t("votes.show.paired_or_no_vote") %></span></li>
		</ul>
		<div class="clear"></div>
		<a href="#" class="toggle_votes"><%= t('votes.show.members_link') %></a>
		<div class="clear"></div>
		<div class="individual_votes">
			<ul class="profiles_list">
			  <%= render :partial => 'shared/recorded_vote', :collection => @votes_by_party[party.id]['votes'] %>
			</ul>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".toggle_votes").click(function(){
			$(this).parent().find(".individual_votes").toggle("normal");
			return false;
		});
	});
</script>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>
