<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= "#{@title} &laquo; OurParliament" %></title>
  <%= stylesheet_link_tag 'scaffold', 'application', @controller.controller_name %>
  <%# Use Google in production/test mode, local version at other times.  This is in case the dev works disconnected. %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" unless Rails.env.development? %>
  <%= javascript_include_tag "jquery.min" if Rails.env.development? %>
  <%= javascript_include_tag "application" %>
</head>

<body id="<%= @controller.controller_name %>_controller" class="<%= @controller.action_name %>">

<div id="header">
  <div class="container">
    <h1><%= link_to image_tag('logo.gif', :alt => 'OurParliament'), '/', :title => 'Citizen Factory Home' %></h1>
    <ul id="nav">
      <li id="nav_home"><%= link_to 'Home', root_path %></li>
      <li id="nav_members"><%= link_to 'MPs', members_path %></li>
      <li id="nav_votes"><%= link_to 'Votes', votes_path %></li>
      <li id="nav_hansards"><%= link_to 'Hansard', hansards_path %></li>
      <li id="nav_about"><%= link_to 'About', about_path %></li>
      <li id="nav_contact"><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</div>

<div id="page">
  <div class="container">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="notice">
        <%= flash[:error] %>
      </div>
    <% end %>
    <div id="content" class="clearfix <%= @content_layout %>">
      <% if @content_for_sidebar_left %>
        <div class="sidebar left">
          <%= yield :sidebar_left %>
        </div>
      <% end %>
      <div id="main">
        <div id="page_title">
          <h2><%= @title %></h2>
          <% if @content_for_subtitle %>
            <p class="subtitle"><%= yield :subtitle %></p>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <% if @content_for_sidebar_right %>
        <div class="sidebar right">
          <%= yield :sidebar_rigt %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">

    <div id="footer_disclaimer">
      <p>
        Citizen Factory is a tool for Canadian youth developed by <a href="http://apathyisboring.com" target="_blank">Apathy is Boring</a>.
        Information on the proceedings of the House of Commons and its Committees is reproduced unofﬁcially as
        per the Speaker’s Permisson. Ofﬁcial Parliamentary information is available online from the
        <a href="http://www.parl.gc.ca" target="_blank">Parliament of Canada</a>.
      </p>
      <p>
        Need to contact us? Just email <a href="mailto:info@apathyisboring.com">info@apathyisboring.com</a>.
      </p>
    </div>

  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15512118-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
