<li>
  <%= link_to image_tag('member.jpg', :alt => member.name), member_path(member), :class => 'photo' %>
  <div class="description">
    <span class="name"><%= link_to member.name, member_path(member), :title => "" %></span>
    <span class="action">I voted for <%= link_to 'Bill C02', '', :title => 'Bill C02' %></span>
    <small>
      <span class="caucus"><%= member.party %></span>,
      <span class="constituency"><%= member.constituency_name %></span>
    </small>
    <div class="quote">
      <b class="tail"><!----></b>
      <blockquote>"Madam Speaker (todo)..."<%#= activity.content %></blockquote>
    </div>
  </div>
</li>