<% @content_layout = "has_sidebar_right" %>

<p>Below you'll find a list of all the MPs currently serving in the House of Commons. Got your eye on a particular MP? Click on them to see their profile, contact information, and recent activity.</p>

<p>If you're looking for a specific MP, or you want to find out who represents you, use one of the search boxes to the right. And if you're wondering <%= link_to "what MPs do", "http://www.apathyisboring.com/en/the_facts/articles/decoding_what_do_mps_do" %> or <%= link_to "how the House of Commons works", "http://www.apathyisboring.com/en/the_facts/articles/decoding_the_house_of_commons" %>, we have answers for you. </p>

<div id="groups" class="block">
  <ul>
    <% Province.find(:all).each do |province| %>
      <li><a href="#<%= province.name.underscore %>"><%= province.name %></a></li>
    <% end %>
  </ul>
</div>

<% Province.find(:all).each do |province| %>
  <a name="<%= province.name.underscore %>"></a>
  <h3><%= province.name %></h3>
  <ul class="profiles_list">
    <%= render :partial => 'shared/member', :collection => province.mps.sort_by(&:id) %>
  </ul>
<% end %>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/mp_search' %>
  <%= render :partial => 'shared/links' %>
<% end %>