<% @title = 'Members of Parliament' %>
<% @content_layout = "has_sidebar_right" %>

<% grouped = @mps.group_by(&:constituency_province).sort %>

<div id="groups" class="block">
  <ul>
    <% grouped.collect(&:first).each do |province| %>
      <li><a href="#<%= province.gsub(' ', '_') %>"><%= province %></a></li>
    <% end %>
  </ul>
</div>

<% grouped.each do |province, mps| %>
  <a name="<%= province.gsub(' ', '_') %>"></a>
  <h3><%= province %></h3>
  <ul class="activity_feed">
    <%= render :partial => 'member', :collection => mps.sort_by(&:id) %>
  </ul>
<% end %>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>