<% @title = 'Members of Parliament' %>
<% @content_layout = "has_sidebar_right" %>

<% grouped = @mps.group_by(&:constituency_province).sort %>

<lu>
  <% grouped.collect(&:first).each do |province| %>
    <li><a href="#<%= province.gsub(' ', '_') %>"><%= province %></a></li>
  <% end %>
</lu>

<% grouped.each do |province, mps| %>
  <h2><a name="<%= province.gsub(' ', '_') %>"><%= province %></a></h2>
  <ul class="activity_feed">
    <%= render :partial => 'member', :collection => mps %>
  </ul>
<% end %>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>