<% #@title = 'Members of Parliament' %>
<% @content_layout = "has_sidebar_right" %>

<div id="groups" class="block">
  <ul>
    <% Province.find(:all).each do |province| %>
      <li><a href="#<%= province.name.underscore %>"><%= province.name %></a></li>
    <% end %>
  </ul>
</div>

<% Province.find(:all).each do |province| %>
  <a name="<%= province.name.underscore %>"></a>
  <h3><%= province.name %></h3>
  <ul class="profiles_list">
    <%= render :partial => 'shared/member', :collection => province.mps.sort_by(&:id) %>
  </ul>
<% end %>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>