<% @title = @mp.name %>
<% @content_layout = "has_sidebar_left" %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <%= link_to image_tag("", :alt => ""), "", :title => "", :class => "photo" %>
    <p>Do you own a photo of this MP? <%= link_to "Let us use it!", :title => "" %></p>
  </div>

  <div id="facts" class="block">
    <h3>The Facts</h3>
    <ul>
      <li>Minister of agriculture</li>
      <li>55 years old (202nd youngest MP)</li>
      <li>Chair of the <a href="">Very Important Committee</a></li>
      <li>Vice-chair of the <a href="">Less Important Committee</a></li>
      <li>Member of the <a href="">Really Boring Committee</a></li>
      <li>
        MP for riding name - more words
        <small>(12/01/2004-12/02/2004)</small>
      </li>
      <li>
        MP for riding name - more words
        <small>(12/01/2005-12/02/2005)</small>
      </li>
    </ul>
  </div>

  <div id="contact" class="block">
    <h3>Contact Them</h3>
    <ul>
      <li class="address">123 Smith Street<br/>Ottawa, Canada<br/>H4W 3M6</li>
      <li class="phone">(555) 555 5555</li>
      <li class="email"><a href="">[ email address ]</a></li>
    </ul>
  </div>

  <div id="links" class="block">
    <h3>Links</h3>
    <ul>
      <li><a href="">[ link ]</a></li>
      <li><a href="">[ link ]</a></li>
      <li><a href="">[ link ]</a></li>
    </ul>
  </div>

  <div id="articles" class="block">
    <h3>Articles</h3>
    <ul>
      <li><a href="">[ article ]</a></li>
      <li><a href="">[ article ]</a></li>
      <li><a href="">[ article ]</a></li>
    </ul>
  </div>

  <div id="glossary" class="block">
    <h3>Glossary</h3>
    <ul>
      <li><a href="">[ term ]</a></li>
      <li><a href="">[ term ]</a></li>
      <li><a href="">[ term ]</a></li>
    </ul>
  </div>

<% end %>

<p><%= link_to 'edit', edit_member_path(@mp) %></p>

<ul>
  <% %w{ ed_id constituency_name name email website parliamentary_phone parliamentary_fax preferred_language active}.each do |val| %>
    <li><label><%= val %></label>: <span class="<%= val %>"><%= @mp.send(val) %></span></li>
  <% end %>
</ul>

<div id="votes" class="block">
  <h3>Votes</h3>
  <ul>
    <% @votes.each do |vote| %>
      <li><b>Voted <%= @mp.recorded_vote_for(vote).stance %></b> on <%= truncate(vote.context, 70) %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to "vote rss", votes_member_url(@mp) %></p>

<%= render :partial => 'shared/twitter', :locals => {:twitter => @mp} if @mp.twitter? %>
