<% @title = @mp.name %>
<% @content_layout = "has_sidebar_left" %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <% if @mp.image? %>
      <%= link_to image_tag(@mp.image.url, :alt => "photo of #{@mp.name}"), "", :title => "", :class => "photo" %>
    <% else %>
      <%= link_to image_tag("placeholder_photo_medium.gif", :alt => ""), "", :title => "", :class => "photo" %>
      <p>Do you own a photo of this MP?<br/><%= link_to "Let us use it!", :title => "" %></p>
    <% end %>
  </div>

<!-- 
  <div id="facts" class="block">
    <h3>The Facts</h3>
    <ul>
      <li>Minister of agriculture</li>
      <li>55 years old (202nd youngest MP)</li>
      <li>Chair of the <a href="">Very Important Committee</a></li>
      <li>Vice-chair of the <a href="">Less Important Committee</a></li>
      <li>Member of the <a href="">Really Boring Committee</a></li>
      <li>
        MP for riding name - more words
        <small>(12/01/2004-12/02/2004)</small>
      </li>
      <li>
        MP for riding name - more words
        <small>(12/01/2005-12/02/2005)</small>
      </li>
    </ul>
  </div>
-->

  <div id="contact" class="block">
    <h3>Contact Them</h3>
    <ul>
      <li class="address"><%= @mp.constituency_address %><br/><%= @mp.constituency_city %>, <%= @mp.constituency_province %><br/><%= @mp.constituency_postal_code %></li>
      <li class="phone"><%= @mp.constituency_phone %></li>
      <li class="email"><a href="mailto:<%= @mp.email %>"><%= @mp.email %></a></li>
    </ul>
  </div>

  <div id="links" class="block">
    <h3>Links</h3>
    <% if @mp.links.keys.empty? %>
      None found
    <% else %>
      <ul>
        <% @mp.links.each do |name, link| %>
          <li><%= link_to(name, link) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= render :partial => 'shared/links' %>

<% end %>

<div id="votes" class="block">
  <h3>Votes</h3>
  <ul>
    <% @votes.each do |vote| %>
      <li><b><%= stance(@mp, vote) %></b> <%= truncate(vote.context, 70) %></li>
    <% end %>
  </ul>
  <p class="more rss"><%= link_to "Subscribe to this member&#39;s votes", votes_member_url(@mp) %></p>
</div>

<div id="google_news" class="block">
  <h3>News Search</h3>
  <iframe frameborder="0" width="728" height="90" marginwidth="0" marginheight="0"
         src="http://www.google.com/uds/modules/elements/newsshow/iframe.html?q=<%= @mp.news_search_name %>&ned=ca&rsz=large&hl=en&format=728x90">
  </iframe>
</div>

<%= render :partial => 'shared/twitter', :locals => {:twitter => @mp} if @mp.twitter? %>
