<% @title = @mp.name %>
<% @content_layout = "has_sidebar_left" %>

<% content_for :subtitle do %>
<%= t('members.show.subtitle', :party_name => @mp.party.name, :riding_name => @mp.riding.name) %>
<% end %>

<% content_for :sidebar_left do %>

  <div id="photo" class="block">
    <% if @mp.image? %>
      <%= link_to image_tag(@mp.image.url, :alt => "photo of #{@mp.name}"), "", :title => "", :class => "photo" %>
    <% else %>
      <%= link_to image_tag("placeholder_photo_medium.gif", :alt => ""), "", :title => "", :class => "photo" %>
      <p><%= t('photo.prompt') %><br/><%= link_to t('photo.prompt_link'), "mailto:info@apathyisboring.com" %></p>
    <% end %>
  </div>


  <div id="facts" class="block">
    <h3><%= t('section.facts') %></h3>
    <ul>
		<% if not @mp.election_results.empty? %>
			<li><%= t('members.elected_date', :date => l(@mp.election_results.last.election.date, :format => :long), :percentage => @mp.election_results.last.vote_percentage ) %></li>
		<% end %>
		<% if @mp.age %>
			<li><%= t('members.age', :age => @mp.age) %></li>
		<% end %>
		<% for function in @mp.current_parliamentary_functions %>
			<li><%= function.parliamentary_title.full_name %></li>
		<% end %>
		<% for committee in @mp.current_committees %>
			<li><%= committee.committee_role.name %> of <%= link_to(committee.committee.name, committee_path(committee.committee)) %></li>
		<% end %>
    </ul>
  </div>

  <div id="contact" class="block">
    <h3><%= t('section.contact') %></h3>
    <ul>
      <li class="address"><%= @mp.constituency_address %><br/><%= @mp.constituency_city %>, 
	  <% if @mp.province %><%= @mp.province.name %><br/><% end %>
	  <%= @mp.constituency_postal_code %></li>
      <li class="phone"><%= @mp.constituency_phone %></li>
      <li class="email"><a href="mailto:<%= @mp.email %>"><%= @mp.email %></a></li>
    </ul>
  </div>

  <div id="links" class="block">
    <h3><%= t('section.links') %></h3>
    <% if @mp.links.keys.empty? %>
      None found
    <% else %>
      <ul>
        <% @mp.links.each do |name, link| %>
          <li><%= link_to(name, link) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= render :partial => 'shared/links' %>

<% end %>

<p><%= t('members.show.intro') %></p>

<div id="activity_stream" class="block">
	<h3><%= t('members.activity_stream.title') %></h3>
	<p class="more rss"><%= link_to t('members.activity_stream.rss_link'), :controller => :members, :action => :activity, :id => @mp.id %></p>
	<ul>
		<% for entry in @activity_stream.entries %>
			<li class="entry <%= entry.object.class.name.underscore.downcase %>"><%= render :partial => "shared/entry/#{entry.object.class.name.underscore.downcase}", :locals => {:entry => entry} %></li>
		<% end %>
	</ul>
</div>

<div id="google_news" class="block">
  <h3><%= t('section.news') %></h3>
  <iframe frameborder="0" width="728" height="90" marginwidth="0" marginheight="0"
         src="http://www.google.com/uds/modules/elements/newsshow/iframe.html?q=<%= @mp.news_search_name %>&ned=ca&rsz=large&hl=en&format=728x90">
  </iframe>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	$("#activity_stream li .summary").truncate({max_length: 100,more:'<%= t("jquery.truncator.more") %>',less:'<%= t("jquery.truncator.less") %>'});
  })
</script>
